trigger:
  paths:
    exclude:
    - rlberry/_version.py
    - docs

pr:
  paths:
    exclude:
    - rlberry/_version.py
    - docs

jobs:

- job: 'checkPrLabel'
  continueOnError: false
  pool:
    vmImage: ubuntu-22.04
  steps:
  - bash: |
     echo "Looking for label at https://api.github.com/repos/$BUILD_REPOSITORY_ID/issues/$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER/labels"
     if curl -s "https://api.github.com/repos/$BUILD_REPOSITORY_ID/issues/$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER/labels" | grep '"name": "ready for review"'
     then
       echo "##vso[task.setvariable variable=prHasCILabel;isOutput=true]true"
       echo "[INFO] ready for review label found!"
     fi
    displayName: Check for CI label build on PR
    condition: eq(variables['Build.Reason'], 'PullRequest') # only run step if it is a PR
    name: checkPrLabel

- job: 'linux'
  dependsOn: checkPrLabel
  # Condition: have ready for review label or on the main branch.
  condition: or(in(variables['Build.SourceBranch'], 'refs/heads/main'), eq(dependencies.checkPrLabel.outputs['checkPrLabel.prHasCILabel'], true))
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Python310:
        python.version: '3.10'
  variables:
    NUMBA_DISABLE_JIT: "1"

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      sleep 120
    displayName: 'timer and checkout for version when push on main'

  - checkout: self
    displayName: 'second checkout'
    
  - script: |
      curl -sSL install.python-poetry.org | python3 -
      sudo apt install libglu1-mesa
    displayName: 'Install poetry'

  - script: echo "##vso[task.setvariable variable=PATH]${PATH}:$HOME/.local/bin"
    displayName: 'Add poetry to PATH'

  - script: poetry install --all-extras --with dev --sync
    displayName: 'Install dependencies'

  - script: |
      set -xe
      poetry add pytest-azurepipelines pytest-cov pytest-xvfb
      poetry run pytest --import-mode=importlib --cov=rlberry --cov-report xml rlberry
    displayName: 'Test and coverage'
  - script: |
      curl -Os https://uploader.codecov.io/latest/linux/codecov
      chmod +x codecov
      ./codecov
    displayName: 'Upload to codecov.io'


- job: 'macOS'
  dependsOn: checkPrLabel
  condition: or(in(variables['Build.SourceBranch'], 'refs/heads/main'), eq(dependencies.checkPrLabel.outputs['checkPrLabel.prHasCILabel'], true))

  pool:
    vmImage: 'macOS-12'
  strategy:
    matrix:
      Python310:
        python.version: '3.10'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      curl -sSL install.python-poetry.org | python3 -
    displayName: 'Install poetry'

  - script: echo "##vso[task.setvariable variable=PATH]${PATH}:$HOME/.local/bin"
    displayName: 'Add poetry to PATH'

  - script: |
      sleep 10
      git fetch
      git checkout
    displayName: 'timer and checkout for version when push on main'

  - script: poetry install --all-extras --with dev --sync
    displayName: 'Install dependencies'

  - script: |
      poetry add pytest-azurepipelines pytest-xvfb
      poetry run pytest --ignore=rlberry/network
    displayName: 'pytest'

- job: 'windows'
  dependsOn: checkPrLabel
  condition: or(in(variables['Build.SourceBranch'], 'refs/heads/main'), eq(dependencies.checkPrLabel.outputs['checkPrLabel.prHasCILabel'], true))
  pool:
    vmImage: 'windows-2022'
  strategy:
    matrix:
      Python310:
        python.version: '3.10'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'
  - script: |
      sleep 10
      git fetch
      git checkout
    displayName: 'timer and checkout for version when push on main'
  - script: |
      curl -sSL install.python-poetry.org | python3 -
      set PATH=%PATH%;%USERPROFILE%\AppData\Roaming\pypoetry\venv\Scripts
      poetry install --all-extras --with dev --sync
      poetry add pytest-azurepipelines pytest-xvfb
      poetry run pytest --ignore=rlberry/network
    displayName: 'pytest'


- job: 'linux_non_editable'
  dependsOn: checkPrLabel
  # Condition: have ready for review label or on the main branch.
  condition: or(in(variables['Build.SourceBranch'], 'refs/heads/main'), eq(dependencies.checkPrLabel.outputs['checkPrLabel.prHasCILabel'], true))
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Python310:
        python.version: '3.10'
  variables:
    NUMBA_DISABLE_JIT: "1"

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'
  - script: |
      python -m pip install --upgrade pip
      sudo apt install libglu1-mesa
    displayName: 'Install dependencies'
  - script: |
      set -xe
      pip install .
    displayName: 'Install rlberry'

  - script: |
      pip install pytest==7.0.1 pytest-azurepipelines pytest-xvfb
      pytest rlberry/tests/test_imports.py
    displayName: 'pytest imports'

  - script: |
      pip install git+https://github.com/rlberry-py/rlberry-scool.git
      pip install git+https://github.com/rlberry-py/rlberry-research.git
    displayName: 'Install rlberry-scool and rlberry-research'

  #ignore les tests qui viennent des extras : torch, experimental, stablebaselines, optuna
  - script: |
      pytest rlberry/tests/test_agents_base.py rlberry/tests/test_envs.py
    displayName: 'pytest agents and envs'


- job: 'macOS_non_editable'
  dependsOn: checkPrLabel
  condition: or(in(variables['Build.SourceBranch'], 'refs/heads/main'), eq(dependencies.checkPrLabel.outputs['checkPrLabel.prHasCILabel'], true))

  pool:
    vmImage: 'macOS-12'
  strategy:
    matrix:
      Python310:
        python.version: '3.10'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      python -m pip install --upgrade pip
    displayName: 'Install dependencies'

  - script: |
      set -xe
      pip install .
    displayName: 'Install rlberry'

  - script: |
      pip install pytest==7.0.1 pytest-azurepipelines pytest-xvfb
      pytest rlberry/tests/test_imports.py
    displayName: 'pytest imports'

  - script: |
      pip install git+https://github.com/rlberry-py/rlberry-scool.git
      pip install git+https://github.com/rlberry-py/rlberry-research.git
    displayName: 'Install rlberry-scool and rlberry-research'

  - script: |
      pytest rlberry/tests/test_agents_base.py rlberry/tests/test_envs.py
    displayName: 'pytest agents and envs'

- job: 'windows_non_editable'
  dependsOn: checkPrLabel
  condition: or(in(variables['Build.SourceBranch'], 'refs/heads/main'), eq(dependencies.checkPrLabel.outputs['checkPrLabel.prHasCILabel'], true))
  pool:
    vmImage: 'windows-2022'
  strategy:
    matrix:
      Python310:
        python.version: '3.10'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      python -m pip install --upgrade pip
    displayName: 'Install dependencies'

  - script: |
      pip install .
    displayName: 'Install rlberry'

  - script: |
      pip install pytest==7.0.1 pytest-azurepipelines pytest-xvfb
      pytest rlberry/tests/test_imports.py
    displayName: 'pytest imports'

  - script: |
      pip install git+https://github.com/rlberry-py/rlberry-scool.git
      pip install git+https://github.com/rlberry-py/rlberry-research.git
    displayName: 'Install rlberry-scool and rlberry-research'

  - script: |
      pytest rlberry/tests/test_agents_base.py rlberry/tests/test_envs.py
    displayName: 'pytest agents and envs'
