# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

jobs:

- job: 'linux'
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Python39:
        python.version: '3.9'
  variables:
    NUMBA_DISABLE_JIT: "1"

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
      sudo apt install libglu1-mesa
    displayName: 'Install dependencies'

  - script: |
      set -xe
      pip install pytest pytest-azurepipelines pytest-cov codecov pytest-xvfb
      # run doctests in the documentation
      # TODO: use following line for doctest ?
      pytest docs/*rst || echo "Ignoring exit status"
      pytest --cov=rlberry --cov-report xml rlberry
    displayName: 'Test and coverage'
  - script: |
      curl -Os https://uploader.codecov.io/latest/linux/codecov
      chmod +x codecov
      ./codecov
    displayName: 'Upload to codecov.io'

- job: 'Formatting'
  pool:
    vmImage: ubuntu-latest
  strategy:
    matrix:
      Python39:
        python.version: '3.9'

  steps:
  - script: |
      python -m pip install --upgrade pip
      pip install  black flake8
      black --check examples rlberry *py
    displayName: "black"
  - script: |
      # ensure there is no unused imports with
      flake8 --select F401,F405 --exclude=rlberry/check_packages.py --per-file-ignores="__init__.py:F401"
    displayName: 'flake8'



- job: 'macOS'
  pool:
    vmImage: 'macOS-latest'
  strategy:
    matrix:
      Python39:
        python.version: '3.9'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: 'Install dependencies'
  - script: |
      pip install pytest pytest-azurepipelines pytest-xvfb
      pytest
    displayName: 'pytest'
- job: 'windows'
  pool:
    vmImage: 'windows-latest'
  strategy:
    matrix:
      Python39:
        python.version: '3.9'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: 'Install dependencies'
  - script: |
      pip install pytest pytest-azurepipelines pytest-xvfb
      pytest
    displayName: 'pytest'
