[tool.poetry]
name = "rlberry"
version = "0.3.0"
description = "An easy-to-use reinforcement learning library for research and education."
authors = ["rlberry team"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
scipy = "^1.8.1"
pygame = "^2.1.2"
matplotlib = "^3.5.2"
seaborn = "^0.11.2"
pandas = "^1.4.2"
gym = "0.21.0"
dill = "^0.3.5"
docopt = "^0.6.2"
PyYAML = "^6.0"
optuna = "^3.0.1"
ffmpeg-python = "^0.2.0"
PyOpenGL = "^3.1.6"
PyVirtualDisplay = "^3.0"
torch = "^1.11.0"
tensorboard = "^2.9.0"
stable-baselines3 = "^1.5.0"
protobuf = "3.20.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
