[tool.poetry]
name = "rlberry"
version = "v0.5.0.post29.dev0+2b871b8"
description = "An easy-to-use reinforcement learning library for research and education"
authors = ["Omar Darwiche Domingues, Yannis Flet-Berliac, Edouard Leurent, Pierre Menard, Xuedong Shang"]
homepage = "https://github.com/rlberry-py"
repository = "https://github.com/rlberry-py"
readme = "README.md"
license="LICENSE"
classifiers=[
        "Development Status :: 4 - Beta",
        "Intended Audience :: Science/Research",
        "Intended Audience :: Education",
        "Topic :: Scientific/Engineering :: Artificial Intelligence",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3 :: Only",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
    ]

[tool.poetry.dependencies]
python = "^3.9, <3.13"
numpy = "^1.26.1"
scipy = "^1.11.3"
pygame-ce = "^2.3.2"
matplotlib = "^3.8.1"
seaborn = "^0.13.0"
pandas = "^2.1.2"
gymnasium = {version="^0.29.1"}
Gymnasium = {version="^0.29.1", extras=["atari", "accept-rom-license"], optional=true}
dill = "^0.3.7"
docopt = "^0.6.2"
pyyaml = "^6.0.1"
tqdm = "^4.66.1"
moviepy = "^1.0.3"
optuna ={version="^3.4.0", optional=true}
numba = {version="^0.58.1", optional=true}
ffmpeg-python = {version="^0.2.0", optional=true}
pyopengl = {version="^3.1.7", optional=true}
pyvirtualdisplay = {version="^3.0", optional=true}
opencv-python = {version="^4.8.1.78", optional=true}
ale-py = {version="^0.8.1", optional=true}
stable-baselines3 = {version="^2.1.0", optional=true}
tensorboard = {version="^2.15.1", optional=true}
torch = {version=">=2.0.0, !=2.0.1, !=2.1.0", optional=true}
sphinx = {version="6.2.1", optional=true}
sphinx-gallery = { version= "^0.14.0", optional=true}
sphinx-math-dollar = {version="^1.2.1", optional=true}
numpydoc = {version="^1.6.0", optional=true}
myst-parser = {version="^2.0.0", optional=true}
sphinxcontrib-video = {git = "https://github.com/sphinx-contrib/video", optional=true}

[tool.poetry.extras]
torch = ["opencv-python", "ale-py", "stable-baselines3", "tensorboard", "torch", "Gymnasium"]
extras = ["optuna", "numba", "ffmpeg-python", "pyopengl", "pyvirtualdisplay"]
doc = ["sphinx", "sphinx-gallery", "sphinx-math-dollar", "numpydoc", "myst-parser", "sphinxcontrib-video", "matplotlib"]

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-xprocess = "^0.23.0"
codecov = "^2.1.13"
black = "23.9.1"
pre-commit = "^3.5.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
