jaxlib
chex
dm-haiku
dill
docopt
ffmpeg
gym
ipython
matplotlib
numba
numpy
optax
optuna
pandas
pybullet
pygame
PyOpenGL
pytest
pyvirtualdisplay
PyYAML
reverb
rlax
seaborn
setuptools
stable_baselines3
tensorflow
