numpy>=1.17
scipy>=1.6
pygame
matplotlib
seaborn
pandas
gym==0.21
dill
docopt
pyyaml
numba
optuna
ffmpeg-python
PyOpenGL==3.1.5
pyvirtualdisplay
torch>=1.6.0
stable-baselines3
protobuf==3.20.1
tensorboard
