chex==0.1.0
dill==0.3.4
docopt==0.6.2
ffmpeg==1.4
gym==0.21.0
haiku==0.01
ipython==7.29.0
matplotlib==3.5.0
numba==0.54.1
numpy==1.21.2
optax==0.1.0
optuna==2.10.0
pandas==1.3.4
pybullet==3.2.0
pygame==2.1.0
PyOpenGL==3.1.5
pytest==6.2.5
pyvirtualdisplay==2.2
PyYAML==6.0
reverb==2.0.1
rlax==0.1.1
seaborn==0.11.2
setuptools==57.4.0
stable_baselines3==1.3.0
tensorflow==2.7.0
