name: documentation_stable
on:
  workflow_run:
    workflows: ["documentation_dev"]
    types:
      - completed

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          path: main
      - name: checkout latest
        run: |
          cd main
          git checkout $(git describe --tags $(git rev-list --tags --max-count=1))
          cd ..
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install -r /docs/requirements.txt
          pip install -r main/requirements.txt
      - name: Sphinx build
        run: |
          sphinx-build main/docs _build
      - uses: actions/checkout@v4
        with:
          # This is necessary so that we have the tags.
          fetch-depth: 0
          ref: gh-pages
          path: gh_pages
      - name: Commit documentation changes
        run: |
          cd gh_pages
          rm -r stable || echo "Ignoring exit status"
          mkdir stable
          cp -rv  ../_build/* stable
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Preview documentation"
          git push
